<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>

    <main class="background-splash">
      <div class="buttons-register">
        <span class="but-reg">
          <a href="#" type="button" class="btn btn-default btn-regt" id="login" >Login</a>
        </span>
        <span class="but-reg">
          <a href="signupPhone.html" type="button" class="btn btn-default btn-regt" id="signupPhone">Sign up</a>
        </span>
      </div>
    </main>

    <script src="../vendors/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/register.js" type="text/javascript" charset="utf-8"></script>
      <!-- <script src="js/signup-form.js" type="text/javascript" charset="utf-8"></script> -->
  </body>
</html>
