<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>

  <body class="vh100 section-signup">

    <div class="slide-buttons container-flex-row">
      <a href="signupCodigo.html" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </a>
    </div>
    <h1>Sign up</h1>
    <p>Join now for free ride credit</p>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email address">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">Check me out
        </label>
      </div>
      <button type="submit" id="signup" class="btn btn-default" disabled>Submit</button>
    </form>

    <script src="../vendors/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/signup.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="js/signup-form.js" type="text/javascript" charset="utf-8"></script> -->
  </body>
</html>
