<!DOCTYPE html>
<html>
  <head>
    <title>Codigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>

  <body class="vh100">
    <div class="slide-buttons container-flex-row">
      <a href="signupPhone.html" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </a>
    </div>
    <section class="sectionCodigo">
      <h1>Verify phone number</h1>
      <p>Join now for free ride credit</p>
      <hr>
      <p class="ups" hidden> Código invalido</p>
      <span>
        <span>LAB-</span>
        <input id="valCodigo" class="input-codigo" type="input" placeholder="_ _ _" value="">
      </span>
      <br>
      <button type="button" name="button">Resend code</button>
      <br>
      <button type="submit" id="valButton" class="btn btn-default" disabled>NEXT</button>
    </section>

    <script src="../vendors/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/signupCodigo.js" type="text/javascript" charset="utf-8"></script>

    <!-- <script src="js/signup-form.js" type="text/javascript" charset="utf-8"></script> -->
  </body>
</html>
